<?xml version="1.0" encoding="ISO-8859-1"?>

<!-- <!DOCTYPE web-app PUBLIC '-//Sun Microsystems, Inc.//DTD Web Application 
	2.3//EN' 'http://java.sun.com/dtd/web-app_2_3.dtd'> -->

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">

<web-app>

	<!-- JSF Webapp config -->
	<!-- begin RichFaces settings -->
<!-- 	<context-param> -->
<!-- 		<param-name>org.richfaces.SKIN</param-name> -->
<!-- 		<param-value>blueSky</param-value> -->
<!-- 	</context-param> -->
<!-- 	<context-param> -->
<!-- 		<param-name>javax.faces.DISABLE_FACELET_JSF_VIEWHANDLER</param-name> -->
<!-- 		<param-value>true</param-value> -->
<!-- 	</context-param> -->
<!--	<context-param>-->
<!--		<param-name>org.ajax4jsf.VIEW_HANDLERS</param-name>-->
<!--		<param-value>com.sun.facelets.FaceletViewHandler</param-value>-->
<!--	</context-param>-->
	<context-param>
		<param-name>org.richfaces.CONTROL_SKINNING</param-name>
		<param-value>enable</param-value>
	</context-param>
	<filter> 
		<display-name>RichFaces Filter</display-name> 
		<filter-name>richfaces</filter-name> 
		<filter-class>org.ajax4jsf.Filter</filter-class> 
	</filter> 
	<filter-mapping> 
		<filter-name>richfaces</filter-name> 
		<servlet-name>Faces Servlet</servlet-name>
<!-- 		<url-pattern>*.jsf</url-pattern> -->
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>
	<!-- end RichFaces settings -->

	<!-- begin MyFaces settings -->
	<filter>
		<filter-name>MyFacesExtensionsFilter</filter-name>
		<filter-class>org.apache.myfaces.webapp.filter.ExtensionsFilter</filter-class>
	    <init-param>
	        <param-name>uploadMaxFileSize</param-name>
	        <param-value>20m</param-value>
	    </init-param>
	</filter>
	<filter-mapping>
	    <filter-name>MyFacesExtensionsFilter</filter-name>
	    <!-- servlet-name must match the name of your javax.faces.webapp.FacesServlet entry -->
	    <servlet-name>Faces Servlet</servlet-name>
	</filter-mapping>
<!-- 	<filter-mapping> -->
<!-- 	    <filter-name>MyFacesExtensionsFilter</filter-name> -->
<!-- 	    <url-pattern>*.jsf</url-pattern> -->
<!-- 	</filter-mapping> -->
	<!-- end MyFaces settings -->

	<context-param>
		<param-name>javax.faces.DEFAULT_SUFFIX</param-name>
		<param-value>.xhtml</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Development</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.VALIDATE_EMPTY_FIELDS</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>facelets.BUILD_BEFORE_RESTORE</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>com.sun.faces.expressionFactory</param-name>
		<param-value>com.sun.el.ExpressionFactoryImpl</param-value>
	</context-param>

	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>


	<!-- OTHER SERVLET DEFINITIONS -->

	<servlet>
		<servlet-name>MonitoringGUI</servlet-name>
<!-- 		<servlet-class>ch.usi.cloud.controller.monitoring.gui.servlets.MonitoringGUI</servlet-class> -->
		<servlet-class>ch.usi.sge.monitoring.webgui.servlets.MonitoringGUI</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>ChartsGenerationForm</servlet-name>
<!-- 		<servlet-class>ch.usi.cloud.controller.monitoring.gui.servlets.ChartsGenerationForm</servlet-class> -->
		<servlet-class>ch.usi.sge.monitoring.webgui.servlets.ChartsGenerationForm</servlet-class>
	</servlet>
	
	<servlet> 
  		 <servlet-name>static</servlet-name> 
  		 <servlet-class>org.mortbay.jetty.servlet.DefaultServlet</servlet-class> 
	</servlet> 
	
	<servlet-mapping> 
  		 <servlet-name>static</servlet-name> 
  		 <url-pattern>*.js</url-pattern> 
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>MonitoringGUI</servlet-name>
		<url-pattern>/mepgui/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ChartsGenerationForm</servlet-name>
		<url-pattern>/chartForm/*</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>30</session-timeout>    <!-- 30 minutes -->
	</session-config>
	
</web-app>
